@import "bootstrap-sprockets";
@import "bootstrap";

.input-group {
    margin: 30px 0;
}

td, th {
    padding: 19px;
    border: 1px solid #eaeaea;
}

thead {
	background-color: #f5f5f5;
}

.product-blurb {
	border: 1px solid #eaeaea;
    box-shadow: 2px 2px 7px #dcdcdc;
    margin: 30px 0;
    min-height: 510px;
}


.img-blurb {
	height: 240px;
	max-width: 100%;
	object-fit: cover;
}

img[class] { 
  width: 100%;
}

@keyframes logo_anim {
    0%  {color: yellow;}
    100%  {color: orange;}
}

.navbar-brand .glyphicon-flash {
    animation-name: logo_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

.btn-group {
	margin: 10px 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 200; 
}
