<h1>Enregistrer une nouvelle machine:</h1>
<p>Pour entrer une machine, remplir les champs suivants avec les informations nécessaires</p>
<iframe src="//giphy.com/embed/26ufe34jLiGEOqyM8" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<%= render 'form' %>

<%= link_to 'Retour', products_path %>
